<md-card ng-click="goOptions()" style="cursor: pointer;">
  	<md-card-title>
    	<md-card-title-media>
      		<span class="md-headline" style="font-size: 18px; text-transform: lowercase;">{{title}}</span>
      	</md-card-title-media>
  	</md-card-title>
</md-card>