<md-sidenav md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" class="menu-main" style="margin-bottom: 10px;">
    <h1>O que você procura?</h1>
	
    <md-divider></md-divider>

    <md-list ng-repeat="item in itens">
      <md-list-item class="md-2-line" layout="row" layout-align="start center">
        <label>
        	 {{item.title}}
        </label>
      </md-list-item>
    </md-list>

</md-sidenav>
