<p class="md-body-1 tab-headline">Histórico de pesquisa</p>
<md-divider></md-divider>

<md-list>        				
	<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
    	<p>Sem parar</p>
 	</md-list-item>
 	<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
    	<p>Brastemp</p>
 	</md-list-item>
 	<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
    	<p>Conta de gás</p>
 	</md-list-item>
 	<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
    	<p>Ar condicionado consul</p>
 	</md-list-item>
</md-list>