<md-dialog layout-margin style="width: 500px;" flex="none">
    <md-toolbar style="margin: 0px;">
        <div class="md-toolbar-tools">
            Esqueceu a senha?
      </div>
    </md-toolbar>    
    <md-dialog-content layout="row" >
        <form ng-cloak>
            <md-dialog-content layout="row" >
                <div class="md-dialog-content" layout="column" flex="100">
                    <p>Informe seu e-mail e enviaremos as instruções para você criar sua senha.</p>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>E-mail</label>
                        <input ng-model="user.email">
                    </md-input-container>
                    <md-button ng-click="request()" flex="5" class="md-raised">Salvar</md-button>
                </div>
            </md-dialog-content>
        </form>
    </md-dialog-content>
</md-dialog>