<md-dialog aria-label="Login" layout-margin style="width: 850px;" flex="none">
  <form ng-cloak>
    <md-dialog-content layout="row" >
        <div class="md-dialog-content" flex="50">
                
            <p class="md-body-1 tab-headline"><b>Já tenho cadastro!</b></p>

            <p class="md-body-1 text-center">Escolha uma das opções para entrar</p>

            <div layout="row" >
                <md-button flex="100" class="md-raised md-primary" style="margin-left: 0px; margin-right: 0px;">Entrar com Facebook</md-button>
            </div> 

            <br/>

            <md-divider></md-divider>

            <md-input-container class="md-block" flex-gt-sm>
                <label>E-mail</label>
                <input ng-model="user.email">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Senha</label>
                <input type="password" ng-model="user.password">
            </md-input-container>

            <div layout="row" >
                <md-button flex="100" class="md-raised" style="margin-left: 0px; margin-right: 0px;" ng-click="signin()">Entrar</md-button>
            </div>  
            <a href="#" style="float: right; margin-top: 0.8em;"
            ng-click="forgot()">Esqueci minha senha</a> 
        </div>
        <md-divider></md-divider>
        <div class="md-dialog-content" flex="50">
            
            <p class="md-body-1 tab-headline">Não tenho conta. Cadastrar!</p>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome</label>
                <input ng-model="new.name">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Como gosta de ser chamado</label>
                <input ng-model="new.alias">
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm>
                <label>E-mail</label>
                <input ng-model="new.email">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Senha</label>
                <input type="password" ng-model="new.password">
            </md-input-container>

            <div layout="row" >
                <md-button ng-click="signup()"  class="md-raised" style="margin-left: 0px; margin-right: 0px;">Salvar</md-button>
            </div>  
        </div>
    </md-dialog-content>
  </form>
</md-dialog>