<div class="content-profile" layout-wrap ng-cloak>
    <md-tabs  md-stretch-tabs="auto" md-align="bottom" md-dynamic-height md-border-bottom  md-center-tab md-swipe-content>
        <md-tab label="Meu perfil"> 
            <md-tab-body>
                <div flex="100" layout="row" class="myprofile">
                    <div flex="30" layout="column" layout-align="center center">
                        <img src="http://rwrant.co.za/wp-content/uploads/2009/11/Chuck-Norris-1.jpg" class="avatar">
                        <p class="color-info email">{{user.email}}</p>
                    </div>
                    <md-divider flex></md-divider>
                    <div flex="30" layout="column" layout-align="end center">
                        <img src="assets/imgs/figures/taps.png"></img>
                        <p class="color-info title">Taps<br> resolvidos</p>
                        <a href="/#!/taps" style="text-decoration: none;" class="number color-info">12</a>
                    </div>
                    <md-divider flex></md-divider>
                    <div flex="30" layout="column" layout-align="center center">
                        <img src="assets/imgs/figures/logo.png"></img>
                        <p class="color-info title">Minutos<br>economizados</p>
                        <p class="number color-info">4.230</p>
                    </div>
                </div>
            </md-tab-body>        
        </md-tab>
        

        <md-tab label="Editar perfil">                        
            <md-tab-body>
                <div flex="100" layout="row" layout-wrap >

                    <md-input-container flex="50" layout-align="center center" md-no-float>
                        <label class="lbl-modal">Nome</label>
                        <input type="text" ng-model="user.name" placeholder="Digite seu nome">
                    </md-input-container>
                    <md-input-container flex="50" layout-align="center center" md-no-float>
                        <label class="lbl-modal">Como gostaria de ser chamado</label>
                        <input type="text" ng-model="user.alias" placeholder="Digite seu e-mail">
                    </md-input-container>

                    <md-input-container flex="50" layout-align="center center" md-no-float>
                        <label class="lbl-modal">Telefone</label>
                        <input type="text" ng-model="user.phone" placeholder="Digite seu telefone">
                    </md-input-container>

                     <md-input-container flex="50" layout-align="center center" md-no-float>
                        <label class="lbl-modal">Senha</label>
                        <input type="password" placeholder="Digite sua senha">
                    </md-input-container>

                </div>

                <md-button class="md-raised md-primary" style="float: right;" ng-click="save()">Salvar </md-button>

            </md-tab-body>
        </md-tab>
        


        <md-tab label="Notificações">
            <md-tab-body>
                <div flex="100" layout="row" layout-wrap >
                    <md-input-container flex="90" layout-align="center center" md-no-float>
                        <label class="lbl-modal">
                            <strong>SMS</strong><br/>
                            Quero receber notificações sobre meus taps e status via SMS
                        </label>
                    </md-input-container>
                    <md-switch flex="10" ng-model="notif.sms" aria-label="Switch 1">
                    </md-switch>
                </div>

                <div flex="100" layout="row" layout-wrap >
                    <md-input-container flex="90" layout-align="center center" md-no-float>
                        <label class="lbl-modal">
                           <strong>E-mail</strong><br/>
                            Quero receber notificações sobre meus taps e status via e-mail
                        </label>
                    </md-input-container>
                    <md-switch flex="10" ng-model="notif.email" aria-label="Switch 1">
                    </md-switch>
                </div>

                <div flex="100" layout="row" layout-wrap >
                    <md-input-container flex="90" layout-align="center center" md-no-float>
                        <label class="lbl-modal">
                            <strong>Push</strong><br/>
                            Mostrar as notificações de atividade do app na tela de bloqueio
                        </label>
                    </md-input-container>
                    <md-switch flex="10" ng-model="notif.push" aria-label="Switch 1">
                    </md-switch>
                </div>

                <md-button class="md-raised md-primary" style="float: right;" ng-click="saveNotif()">Salvar </md-button>

            </md-tab-body>
        </md-tab>



        <md-tab label="Configurações">
            <md-tab-body>
                &nbsp;
            </md-tab-body>
        </md-tab>
    </md-tabs>

    
</div>