<md-dialog class="modal-welcome" flex="none">

	<md-dialog-content layout="column" layout-align="start center"> 
		<div flex="30" layout="column" layout-align="end end">
			<img src="assets/imgs/icon-white.png">			
		</div>

		<div flex="55" layout="column" layout-align="center center" style="text-align: center;">
			<h1 ng-show="currentNavItem=='step-0'" class="md-display-3">Olá</h1>
			<h1 class="md-title">{{msg}}</h1>			
		</div>

		<md-nav-bar flex="5"
		    md-no-ink-bar="true"
		    md-selected-nav-item="currentNavItem"
		    nav-bar-aria-label="navigation links">
		    <md-nav-item md-nav-click="step(0)" class="no-space" name="step-0" value="step-1">
		       	<span class="bullet">&nbsp;</span>
		    </md-nav-item>
		    <md-nav-item md-nav-click="step(1)" class="no-space" name="step-1" value="step-2">
		       	<span class="bullet-outline">&nbsp;</span>
		    </md-nav-item>
		    <md-nav-item md-nav-click="step(2)" class="no-space" name="step-2" value="step-3">
		       	<span class="bullet-outline">&nbsp;</span>
		    </md-nav-item>
		</md-nav-bar>	

		<md-button  ng-click="close()" class="close">{{btlabel}}</md-button> 

	</md-dialog-content>
</md-dialog>