<md-menu>
    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
        <md-icon md-font-icon="material-icons">perm_identity</md-icon>
    </md-button>
    
    <md-menu-content width="4" style="max-height: 357px;">
        <md-menu-item ng-show="user.id != undefined">
            <img src="http://rwrant.co.za/wp-content/uploads/2009/11/Chuck-Norris-1.jpg" class="avatar" style="width: 32px; height: 32px;border-radius: 50%;">
            <p>Bem-vindo, <br/>{{user.alias}}</p>
        </md-menu-item>

        <md-menu-item ng-repeat="item in menu">
            <md-button ng-click="goTo(item.url)">
                    {{item.label}}
                </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="logout()">
                Sair
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>