<style type="text/css">
	
	.message-user {
    	padding: 10px;
    	margin: 10px;
		background-color: #f5f5f5;
    	border-color: #f5f5f5;
    	position: relative;
    	border-bottom-left-radius: 10px;
    	border-top-left-radius: 10px;
	}

	.message-callcenter {
		padding: 10px;
    	margin: 10px;
    	color: white;
		background-color: #2db8e2;
		border-color: #2db8e2;
    	border-bottom-right-radius: 10px;
    	border-top-right-radius: 10px;
	}

	.message-avatar::after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-right-color: #00aabb;
		border-left: 0;
		margin-top: -20px;
		margin-left: -20px;
	}

</style>

<md-content layout="column">	
	<md-list-item class="contact-item md-2-line selected md-no-proxy" role="listitem" flex="60">
		<div class="md-list-item-text compact" >
			<div ng-repeat="talk in talks"  ng-class="{'message-user': talk.source.id == user.id, 'message-callcenter': talk.source.id != user.id}">
				<p>
					<strong>{{talk.source.name}}</strong>
					<label style="float: right; font-size: 11px;">{{talk.created_at}}</label>
				</p>
				{{talk.message}}
			</div>
		</div>
	</md-list-item>
</md-content>

<md-content layout="column">
	<md-input-container class="md-accent" flex="100">
		<label for="input_1">Nova mensagem</label> 
		<input ng-enter="send()" ng-model="newMessage" md-maxlength="350">
	</md-input-container> 
</md-content>
