<style type="text/css">
    
    md-select-value,
    md-input {
        padding-top: 1px !important;
    }

</style>
<md-content layout="row" layout-wrap>
    <div flex="60">
        <p class="md-body-1 tab-headline">Meus taps</p>
        <md-divider></md-divider>
    </div>
    <div flex="20">
        <md-select name="type" ng-model="project.type">
            <md-option value="app" selected>Status</md-option>
            <md-option value="web">Categoria</md-option>
        </md-select>
    </div>
    <div flex="15">
        <md-input-container hide-xs style="padding: 1px 0px;">
            <input placeholder="Buscar">
        </md-input-container>
    </div>
</md-content>

<md-content layout="column" layout-wrap>

    <card-tap ng-repeat="tap in taps track by $index" flex="nogrow" ng-show="tap.customer.id!=null" name="{{tap.customer.name}}" desc="{{tap.customer.desc}}" taps="{{tap.customer.taps}}" status="{{tap.status}}" id="{{tap.id}}" customer-id="{{tap.customer.id}}" style="height: 220px;">
    </card-tap>

</md-content>
