.modal-main {

	& {
		@include border-radius(0px);		
	}

	& md-dialog-content {
		width: 55vw !important;
	}

	& md-input-container {
		margin: 0px;
	}

	& input {
		text-align: center;
	}

	& .md-outline {
		border: 1px solid $blue;
		color: $blue;
	}

	& .md-button {
		text-transform: none;
	}

	& .md-full {
		width: 97%;
	}

	& a {
		font-size: 14px;
		float: right;
		color: #e47c86;
	}
}




/*.modal-main {
	
	& {		
		@include border-radius(0px);
	}

	& md-dialog-content {
		width: 55vw !important;
		height: 65vh;
		padding: 19px;
	}

	

	& form {
		margin-bottom: 10px;
	}

	& label {
		font-size: 13px;
		color: #d8d8d8;
	}

	& h1 {
		margin-left: 8px;
		margin-top: -2px;
	}

	& md-input-container {
		margin-top: 0px;
		padding-left: 2%;
		padding-right: 2%;
	}

	& .md-input {
		margin-top: 10px;
		border-width: 1px;
		padding: 18px;
		text-align: center;
		margin-bottom: 10px;
	}

	& .lbl-modal {
		color: $blue;
		padding-left: 3% !important;
		font-family: 'gotham-medium';
		font-size: 18px;
	}
	
	

	 &.md-input-focused .md-input, {
		border-color: red !important;
	}

	& .no-margin {
		margin: 0px 0px;
	}

	

	
}*/