.modal-welcome {

	& md-dialog-content {
		width: 66vw;
		height: 80vh;
		@include linear-gradient(to right, #5e8ce4 0%,  #1167be 100%);
	}

	& h1 {
		color: white;
		white-space: pre;
	}

	& .close {
		color: white;
		text-transform: capitalize;
		text-decoration: none;
	}

	& .md-nav-item  {
		//width: 40px;
		//margin: 0px;
	}

	& md-nav-bar {
		width: 12%;
	}

	& .md-nav-bar {
		border-width: 0 0 0px;
	}

	& .no-space > button {
		min-width: 30px;
		padding: 0px;
		margin: 0px;
	}


	& .md-active > span {
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 4px;
		border-radius: 50%;
		background: white;
	}

	& .md-unselected > span {
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 4px;
		border-radius: 50%;
		border: 1px solid white;
	}
}