<md-toolbar class="md-scroll main-footer" layout="row">
	
	<!-- left roadmap -->
	<div flex=30 flex-offset="5">
		<img src="assets/imgs/logo-white.png"/>
		<md-list>
			<md-list-item>
				<a href="#">Início</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Favoritos</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Categorias</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Busca</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Meus Taps</a>
			</md-list-item>
		</md-list>
	</div>
	<!-- /left roadmap -->

	<!-- store badges -->
	<div flex class="store">
		<div>
			<label>Experimente agora mesmo o nosso app:</label>
		</div>
		<div>
			<img src="assets/imgs/badges/google.png">
			<img src="assets/imgs/badges/apple.png">
		</div>
	</div>
	<!-- /store badges -->

	<!-- right roadmap -->
	<div flex=30 class="right-roadmap">
		<md-list>
			<md-list-item>
				<label>CONFIGURAÇÕES</label>
			</md-list-item>

			<md-list-item>
				<a href="#">Meu perfil</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Notificações</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Configurações</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Sobre a TNS</a>
			</md-list-item>

			<md-list-item>
				<a href="#">Fale Conosco</a>
			</md-list-item>
		</md-list>		
	</div>
	<!-- /right roadmap -->	

	<div flex="5">
		&nbsp;
	</div>

</md-toolbar>