<md-content layout="row" layout-wrap ng-show="!showSearch">
    
    <div flex="40">
        <p class="md-body-1 tab-headline">Recomendados para você</p>
        <md-divider></md-divider>
    </div>

    <div flex="60">
        <md-tabs md-selected="selectedIndex" md-border-bottom md-swipe-content>
            <md-tab ng-repeat="category in categories track by $index" md-on-select="goto(category.name, category.companies)">
                <md-tab-label>{{category.name}}</md-tab-label>
            </md-tab>
        </md-tabs>
    </div> 

        
    <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="company in companies">
        <card-company id="{{company.id}}" category="{{category}}" name="{{company.name}}" taps="{{company.taps}}" desc="{{company.desc}}"></card-company> 
    </div>

    <div flex="100">
        <br/>
        <card-notification flex="100"></card-notification>
        <p class="md-body-1 tab-headline">Novas Empresas</p>
        <md-divider></md-divider>
    </div>    

    <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="new in newCompanies track by $index">
        <card-company id="{{new.id}}" category="{{getCat(new.category_id)}}" name="{{new.name}}" taps="{{new.taps}}" desc="{{new.desc}}"></card-company>
    </div>
</md-content>    


<md-content layout="row" ng-show="showSearch" layout-wrap>
    
    <div flex="100">
        <p class="md-body-1 tab-headline">Resultado da pesquisa</p>
        <md-divider></md-divider>
    </div>

    <div ng-show="search.length==0">
        <h1>Nenhum item encontrado com este termo.</h1>
    </div>

    <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="item in search">
        <card-company id="{{item.id}}" category="{{getCat(item.category_id)}}" name="{{item.name}}" taps="{{item.taps}}" desc="{{item.desc}}"></card-company>
    </div>

</md-content>