.menu-tap {

	& {
		width: 100%;
	}
	
	& md-checkbox {
		border-color: white;
	}

	& md-checkbox.md-checked .md-icon {
		background-color: transparent !important;
	}
	

	& .md-icon {
		border-color: white !important;
	}

	& md-list-item {
		background-color: red;
		margin: 18px 0px;
		padding: 0px;
		height: 36px;
		color: white;
		@include border-radius(5px);
	}
}