
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin border-radius-left($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-border-top-left-radius: $radius; 
    -ms-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-border-bottom-left-radius: $radius;
    -ms-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-radius-right($radius) {
	-webkit-border-top-right-radius: $radius;
    -moz-border-border-top-right-radius: $radius; 
    -ms-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-border-bottom-right-radius: $radius;
    -ms-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}