.main-footer {
	& {
		font-family: 'gotham-medium';
		height: 285px;
		padding-top: 20px;
		background-color: $grey-dark !important;
	}

	& md-list-item {
		color: white;
		height: 29px;
		min-height: 29px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	& md-list-item label {
		font-size: 16px;
	}

	& md-list-item a {
		color: white;
		font-size: 16px;
		text-decoration: none;
	}

	& .store {
		padding-top: 16px;
		text-align: center;
	}

	& .store img {
		width: 43%;
	}

	& .store > label {
		font-size: 16px;
    	margin-left: 5px;
    	font-weight: bolder;
	}

	& .right-roadmap {
	    flex-direction: row-reverse;
		padding-top: 16px;
	}

	& .right-roadmap > md-list > md-list-item {
	    flex-direction: row-reverse;
	}
}