<style type="text/css">
    
    md-select-value,
    md-input {
        padding-top: 1px !important;
    }

</style>
<md-content layout="row" layout-wrap>
    <div flex="auto">
        <p class="md-body-1 tab-headline">Favoritos</p>
        <md-divider></md-divider>
    </div>
</md-content>

<md-content layout="row" layout-wrap>

    <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="item in favorites">
        <card-favorite id="{{item.company[0].id}}" category="{{getCat(item.company[0].category_id)}}" name="{{item.company[0].name}}" taps="{{item.company[0].taps}}" desc="{{item.company[0].desc}}"></card-favorite>
    </div>
        
    </card-tap>

</md-content>
