<md-sidenav md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" class="menu-main" style="margin-bottom: 10px;">
    <h1>Categorias</h1>
	
    <md-divider></md-divider>

    <md-list ng-repeat="item in itens">
      <md-list-item class="md-2-line" style="height: 48px;" layout="row" layout-align="start center">
        <img src="assets/imgs/cat/{{item.icon}}" style="width: 45px;" />
        <label style="margin-top: 15px; margin-left: 15px;">{{item.title}}</label>
      </md-list-item>
    </md-list>

</md-sidenav>
