.main-toolbar {
	
	& {
		margin-top: -1px;
		height: 69px;
		background-color: white !important;
	}

	& md-select {
		color: $blue;
		font-size: 16px;
	}

	& md-select > .md-select-placeholder {
		color: $blue;
	}

	& md-divider {
		height: 21px;
		margin-top: 25px;
		margin-right: 16px;
		margin-left: 7px;
	}

	& .div-search img {
		margin-right: 5px;
		float: left;
	}

	& #search {
		width: 80%;
		font-size: 16px;
		border: 0px;
	}

	& .div-logo {
		text-align: center;
	}

	& .div-icon {
		text-align:center;
	}

	& .fa-search {
		margin-right: 3px;
	}

	& .lbl-search {
		color: #c2c3cf;
		font-size: 16px;
	}
}