.content-profile {

	& .myprofile {
		margin-top: 10vh;
		height: 38vh;
	}
	
	& .avatar {
		width: 177px; 
		height: 177px; 
		border-radius: 50%;
	}	

	& .email {
		font-size: 18px;
	}

	& .title {
		margin: 15px 0px;
		font-size: 27px;
		text-align: center;
	}

	& .number {
		margin: 0px;
		font-size: 77px;
		text-align: center;	
	}
}