.content-main {

	& {
		background-color: white;
		min-height: 70vh; 
		overflow-x: hidden;
	}

	& md-tabs {
		//width: 100%;
		//padding: 13px;
	}

	& .md-tab {
	  	font-family: gotham-light;
	  	text-transform: none;
	  	font-size: 13px;
	}

	& md-pagination-wrapper {
	  	left: initial;
	  	right: 0;
	}

	& md-tabs:before {
	  	//content: 'Recomendados para você';
	  	//position: absolute;
	  	//top: 4vh;
		//color: $blue !important;
		//font-size: 18px;
		//font-weight: bolder;
	}

	&  md-content {
		background-color: white !important;
	}

	& .md-tab[disabled] {
		//max-width: 280px !important;
		//width: 280px;
		//opacity: 1;

	}
}

//md-content.md-default-theme,