<p class="md-body-1 tab-headline">Mostrar por Status</p>
<md-divider flex="90"></md-divider>

<md-list flex="90" class="menu-tap">        
	<md-list-item ng-repeat="item in todos" class="{{item.css}}">
		<md-checkbox ng-model="item.done"></md-checkbox>
	    <div>
	      <h3>{{item.title}}</h3>
	    </div>
	</md-list-item>
</md-list>
