<md-content layout="row" layout-wrap>
    <div flex="auto">
        <p class="md-body-1 tab-headline">Abertura de chamado</p>
        <md-divider></md-divider>
    </div>
</md-content>



<md-content layout="row" layout-wrap>
    <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="option in options">
        <card-support title="{{option.text}}" id="{{option.id}}"></card-support>
    </div>
</md-content>

<md-content layout="row" layout-wrap ng-show="options===undefined">
    <div flex="100">
        <p class="md-body-1 tab-headline">Seu problema foi resolvido</p>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card ng-click="goHome()" style="cursor: pointer;">
		  	<md-card-title>
		    	<md-card-title-media>
		      		<span class="md-headline" style="font-size: 18px; text-transform: lowercase;">Sim</span>
		      	</md-card-title-media>
		  	</md-card-title>
		</md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card ng-click="goChat()" style="cursor: pointer;">
		  	<md-card-title>
		    	<md-card-title-media>
		      		<span class="md-headline" style="font-size: 18px; text-transform: lowercase;">Não</span>
		      	</md-card-title-media>
		  	</md-card-title>
		</md-card>
    </div>
</md-content>