<md-content layout="row" layout-wrap>
    <div flex="auto">
        <p class="md-body-1 tab-headline">Abertura de chamado</p>
        <md-divider></md-divider>
    </div>
</md-content>

<md-content layout="row" layout-wrap>
    <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="question in questions">
        <card-support title="{{question.text}}" id="{{question.id}}"></card-support>
    </div>
</md-content>


