.card-trash {

	& {
		margin: 0px; 
		position: relative; 
		width: 100%; 
		height: 200px;
		top: -200px;
		border-radius: 10px; 
		opacity: 0.4;
	}

	/*&  {
		z-index: 2;
	    height: 32vh;
	    color: white;
	    width: 97%;
		position: absolute;
	    @include border-radius(5px);

	    &:hover {
	    	& .buttons {
	    		width: 20%;	
	    	}
	    }
	}

	& .buttons {
		height: 100%;
		width: 10%;
		transition: width 0.3s ease-in-out;
	    @include border-radius-left(5px);
	    background: rgba(23, 29, 80, 0.9);
	}

	& .actions {
		height: 100%;
		width: 80%;
	    @include border-radius-right(5px);
		background: rgba(23, 29, 80, 0.9);
	}

	& img {
		width: unset;
		height: unset;
	}

	& p {
		font-size: 21px;
		color: white !important;
	}

	& .md-transparent {
		border: 0px;
		background: transparent;
	}

	& .md-primary {
		border: 1px solid white;
		color: white;
		text-transform: none;
		@include border-radius(5px);
	}*/
}