.card-main {

	& {
		height: 30vh;
		color: #3f4040;
		text-align: left;
		max-width: 100%;
		flex-direction: row; 
		background-color: #f5f6f6;
		@include border-radius(5px);
	}

	& .brand {
		padding: 0.6vw;
	}

	& .info {
		padding: 0px;
	}

	& i {
		padding: 0px;
		font-size: 20px;
	}

	& .fa-star {
		color: $blue;
	}

	& img {
		margin-top: -47px;
		height: 17vh;
		width: 11vw;
		padding: 0px;
		@include border-radius(5px);		
	}

	& .taps {
		padding: 0px;
	}

	& .title {
		color: #3f4040;
		margin-bottom: 0px;
		font-weight: bolder;
		font-family: 'gotham-medium';
	}

	& p {
		font-size: 12px;
	}
	
	& .subtitle {
		margin-top: 5px;
		font-size: 16px;
	}
}