.card-info {

	& {
		@include border-radius(10px);
		@include linear-gradient(to right, #5e8ce4 0%,  #1167be 100%);
		color: white;
	}


	& .md-info {
		border: 1px solid white !important;
		background-color: transparent !important;
		text-transform: none;
		color: white;
		@include border-radius(5px);
	}
}