.card-category {

	& {
		height: 100%;
		max-width: 100%;
		width: 100%;
		padding: 18px;
		flex-direction: row; 
		background-color: #8fa3d4;
		@include border-radius(5px);
	}

	& h1 {
		color: white;
    	font-size: 2.3em;
    	margin: 0px;
	}

}