.card-tap {

	& .logo {
		border-bottom-left-radius: 10px; 
		padding: 10px;
		border-top-left-radius: 10px; 
		margin-top: 0px;
	}

	& .logo > img { 
		margin-top: 0px; 
		width: 120px;
	}

	& .arrow {
		//background-color: red;
		color: white;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px; 
	}

	/*& {
		height: 32vh;
	}

	& img {
		height: 17vh;
		margin-top: 0px !important;
	}

	& i {
		font-size: 18px;
	}

	& h1 {
		font-size: 30px;
	}

	& p {
		font-size: 18px;
	}

	& .date {
		font-size: 21px;
		font-weight: bolder;
	}

	& .arrow {
        @include border-radius-right(5px);
	}

	& .arrow i {
		color: white;
		font-size: 3em;
	}


	& .brand {
		padding: 0px;
	}

	& .info {
		padding: 0px;
	}*/
}