.card-company {

	& {
		margin-top: 50px;
		background-color: #f5f6f6;
		box-shadow: none;
		cursor: pointer;
	}

	& img {
		margin-top: -50px;
		width: 150px;
	}

	& .md-headline {
		font-size: 1.3em;
		font-weight: bolder;
	}

	& .md-subhead {
		font-weight: bolder;
		font-size: 16px;
		margin-bottom: 5px;
		color: #000;
	}

	& i {
		color: $blue;
	}
}