.card-logo {

	& {
		width: 100%;
		height: 100%;
		//background-color: red;
	}

	& i {
		color: $blue;
	}

	& p {
		margin: 0px;
	}

	& h1 {
		color: black;
		font-size: 1.5em;
	}

	& img {
		height: 17vh;
		width: 11vw;
		padding: 0px;
		@include border-radius(5px);		
	}
}