<style type="text/css">
    
    /*style="position: absolute; right: 50%; top: 50px;"*/

</style>

<md-card class="card-company" ng-mouseover="showaction=1"  ng-init="showaction=0" ng-mouseleave="showaction=0;">
    <md-card-title>
        <md-card-title-media flex="40">        
            <img ng-src="http://138.197.81.59/images/customers/{{id}}.png" err-src="https://secure.erm-assets.com/r1-81-0-116/assets/Mobile/img/Global/room-no-pic.svg">
            <br/>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <br/>
            <span class="md-subhead"><strong>{{taps}} taps</strong></span>
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-headline">
                {{name}}
                <!--<md-button  ng-show="showaction==1" class="md-icon-button md-primary" aria-label="Settings" >
                    <md-icon md-font-icon="material-icons" ng-click="remove(id)">delete</md-icon>
                </md-button>-->
                <md-icon 
                    ng-show="showaction==1"
                    md-font-icon="material-icons" 
                    ng-click="remove(id)" 
                    style="float: right;">
                    delete
                 </md-icon>
            </span>
            <span class="md-subhead">{{category}}</span>
            <span class="md-body-1">{{desc}}</span>                        
        </md-card-title-text>
    </md-card-title>
</md-card>