<md-card class="card-company">
        <md-card-title>
            <md-card-title-media flex="40" >        
                <img ng-src="http://138.197.81.59/images/customers/{{id}}.png" err-src="https://secure.erm-assets.com/r1-81-0-116/assets/Mobile/img/Global/room-no-pic.svg" ng-click="goSupport(id)">
                <br/>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <br/>
                <span class="md-subhead"><strong>{{taps}} taps</strong></span>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">
                    <a  ng-click="goSupport(id)">{{name}}</a>
                    <md-icon 
                        md-font-icon="material-icons" 
                        ng-click="addFav(id)" 
                        style="float: right;">
                        favorite_border
                     </md-icon>
                </span>
                <span class="md-subhead">{{category}}</span>
                <span class="md-body-1">{{desc}}</span>
            </md-card-title-text>
        </md-card-title>
</md-card>