.list-search {

    & .item {
        position: absolute;
        left: 5px;
        display: flex;
    }

	& .title {
		padding-left: 0px;
    	padding-right: 0px;
    	margin-bottom: 0px;
    	font-family: 'gotham-medium';
    	font-size: 1.3rem;
    	color: black;
	}

	& .subtitle {
		margin-top: 26px;
        margin-bottom: 0px;
		margin-left: 19px;
    	font-family: 'gotham-medium';
    	font-size: 0.9rem;
    	color: $blue;	
    	text-transform: uppercase;
	}

}