@font-face {
    font-family: gotham-light;
    src: url("../../assets/fonts/gotham-light.woff") format("woff");
}

@font-face {
    font-family: gotham-medium;
    src: url("../../assets/fonts/gotham-medium.woff") format("woff");
}

html, 
body {
	font-family: 'gotham-light';
	font-size: 16px;
	background-color: white;
}

h1 {
	font-size: 18px;
	color: $blue;
	font-family: 'gotham-medium';
	font-weight: bolder;
	margin-bottom: 20px;
}

hr {
	border-top: 1px solid rgba(0,0,0,0.12);
}

md-content {
	background-color: white;
}

md-ink-bar {
	height: 3px;
	background-color: #6688c5 !important;
	color: #6688c5 !important;
}

.text-center {
	text-align: center !important;
}

.color-info {
	color: $blue;
}


.sended {
	background-color: #b4b4b5 !important;
}

.queue {
	background-color: $queue !important;
}

.opened {
	background-color: $opened !important;
}

.suspended {
	background-color: $suspended !important;
}

.closed {
	background-color: $closed !important;
}

.subtitle {
	font-size: 1.2rem;
}

.bt-pagination {
	background-color: $blue;
	height: 48px;
	@include border-radius(5px);
	border: 0px;
	color: white;
}

.container {
	min-height: 100vh; 
	background-color: white;
}