<div class="card-info md-padding" flex="100">
    <p>
        Quer ser avisado quando seus chamados forem atendidos? <br/>Ative as notificações push, em Configurações, que <br/> enviaremos uma mensagem para o seu celular!
    </p>
    <md-button class="md-primary md-info">Ativar noticações</md-button>
</div>