<div layout="row">
    <div flex="80" flex-offset="10" layout="row">
        
        <!-- Categorias -->
        <div flex="33" layout="row" layout-align="start">
            <md-input-container md-no-float hide-xs>
                <md-select name="type" class="md-no-underline" ng-model="category" placeholder="Categorias" ng-change="search()">
                    <md-option ng-repeat="category in categories" value="{{category.id}}">  {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container hide-xs>
                <input id="search" name="search" placeholder="Buscar" ng-model="query"  ng-model-options="{debounce: 750}" ng-change="search()">
            </md-input-container>            
        </div>          
        <!-- /Categorias -->



        <div flex="33" layout="row" layout-align="center">
            <md-input-container hide-xs md-no-float>
                <a href="#!/"><img src="assets/imgs/logo.png"/></a>
            </md-input-container>
        </div>

        <div flex="33" layout="row" layout-align="end">
            <md-input-container hide-xs md-no-float>
            
                <md-button class="md-icon-button md-primary" aria-label="Settings">
                    <md-icon md-font-icon="material-icons" ng-click="goTaps()">speaker</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="Settings">
                    <md-icon md-font-icon="material-icons" ng-click="goFavorites()">favorite_border</md-icon>
                </md-button>
                
                <menu-profile></menu-profile>

            </md-input-container>
        </div>

    </div>
</div>