<md-card class="card-company card-tap" style="margin: 0px; height: 200px; border-radius: 10px;">
    <md-card-title style="padding: 0px;">
        <md-card-title-media flex-gt-lg="20" class="logo" ng-mouseover="showaction=1"  ng-init="showaction=0">         
            <img ng-src="http://138.197.81.59/images/customers/{{customerId}}.png" src="https://secure.erm-assets.com/r1-81-0-116/assets/Mobile/img/Global/room-no-pic.svg">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <br/>
            <span class="md-subhead"><strong>{{taps}} taps</strong></span>
        </md-card-title-media>
        <md-card-title-text layout-wrap layout="row" flex="auto">
            <div flex="auto" layout="column" layout-align="center start">
                <span class="md-headline">{{name}}</span>
                <span class="md-subhead">{{category}}</span>
                <span class="md-body-1">{{desc}}</span>                        
            </div>
            <div flex="15" layout="column" layout-align="center center">
                 <span>{{status}}</span>
            </div>
            <div class="arrow" flex="5" ng-class="stlStatus" layout="column" layout-align="center center" ng-click="goChat(id)">
                 <span class="md-headline">></span>
            </div>
            </md-card-content>
        </md-card-title-text>
    </md-card-title>
</md-card>

<md-card class="card-company " ng-show="showaction==1" flex="auto" style="margin: 0px; position: relative; width: 100%; height: 200px; top: -200px; border-radius: 10px; background-color: transparent;" ng-mouseleave="showaction=0; showConfirm =false">
   <md-card-title style="padding: 0px;">
        <md-card-title-media flex-gt-lg="20" style="border-bottom-left-radius: 10px; padding: 10px;border-top-left-radius: 10px; margin-top: 0px;  background: rgba(44, 57, 93, 0.9); min-width: 140px;" layout="column" layout-align="center center" >        
            <md-button  flex="50" ng-click="showConfirm=!showConfirm" ng-init="showConfirm=false">
                <img style="width: 40px; margin: 15%;" src="assets/imgs/figures/trash.png"/>
            </md-button>
        </md-card-title-media>
        <md-card-title-text layout-wrap layout="row" flex="auto" layout-align="center center" ng-show="showConfirm==true" style="background: rgba(44, 57, 93, 0.9); border-bottom-right-radius: 10px; border-top-right-radius: 10px;">
            <div flex="auto"  >
                <h1 style="color: white;">Tem certeza que quer apagar este tap?</h1>
                <md-button style="color: white; border-radius: 10px; border: 1px solid #fff;" class="md-primary" ng-click="delete()">SIM, apagar!
                </md-button>
                <md-button style="color: white; border-radius: 10px; border: 1px solid #fff;" class="md-primary">NÃO, cancelar
                 </md-button>
            </div>
            </md-card-content>
        </md-card-title-text>
    </md-card-title>
</md-card>