.nav-subcategory {

	& label {
		color: black; 
		float: right; 
		margin-top: 26px; 
		font-size: 0.7em; 
	}

	& i {
		margin-top: 26px; 
		font-size: 16px;
		float: right; 
	}
	

	& .fa-star {
		color: $blue;
	}


	& input {
		margin-top: 16px; 
		margin-left: 16px; 
		width: 90%;
	}

}