.nav-search {

	& h1 {
		margin-top: 0px;
		font-size: 44px;
	}

	& p {
		margin-bottom: 0px;
		color: #6688c5;
		font-size: 18px;
	}
}

.tab-headline {
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 12px;
	color: $blue;
}